.navHeader{
  //border: 1px solid red;
  //justify-content: space-around;
  margin:0 20px;
  form{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 20px;
    input{
      border-radius: 4px;
      display: inline-block;
      width: 100%;
      background-color: white;
      padding:0 8px ;
    }
    button{
      white-space: nowrap;
      padding: 10px 20px 9px;
      background-color: #1C91C2;
      border-radius: 4px;
    }
  }
}