.siteLink{
  margin: 30px auto;
  .siteGroup{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 47%;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 20px;
      .a,a{
        color: black;
        img{
          width: 64px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .iconSite{
            font-size: 64px;
        }
        .iconTags{
          font-size: 20px;
          transform: translateY(-10px);
          padding-bottom: 5px;
        }
      }
    }
      .iconAdd{
        padding: 17px 0 18px;
      }
  }
}
@media (max-width: 599px) {
  .siteLink{
    max-width: 400px;
    .siteGroup{
      justify-content: space-between;
      padding: 0 20px;
  .liSvg{
    display: none;
  }
    }
  }
}
@media (min-width: 600px) {
  .siteLink{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    .siteGroup{
      margin-right: -40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        width: 160px;
        margin-right: 40px;
        margin-bottom: 40px;
        position: relative;
        .liSvg{
          position: absolute;
          top: 0;
          right: 4px;
          font-size: 20px;
          opacity: 0;
          &:hover{
            opacity: 100;
            transition: opacity 0.5s;
            color: red;
          }
        }
      }
      li:hover{
        cursor: pointer;
      }
    }
  }
}