.siteLink{
  margin: 30px auto;
  max-width: 400px;
  .siteGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    li{
      width: 47%;
      border-radius: 4px;
      background-color: white;
      margin-bottom: 20px;
      a{
        color: black;
        img{
          width: 64px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .iconSite{
            font-size: 64px;
        }
        .iconTags{
          font-size: 20px;
          transform: translateY(-10px);
          padding-bottom: 5px;
        }
      }
    }
      .iconAdd{
        padding: 17px 0 18px;
      }
  }
}
@media (min-width: 600px) {
  .siteLink{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    .siteGroup{
      margin-right: -80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        width: 170px;
        margin-right: 40px;
        margin-bottom: 40px;
      }
      li:hover{

      }
    }
  }
}